@page "/fetchdata"

<PageTitle>Results</PageTitle>

@using BlazorApp1.Data
@using Results.Contract
@inject ResultService ResultServiceX;

@if (result?.TeamResults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @* ReSharper disable MarkupTextTypo *@

    <div>

        <div style="-webkit-column-count: 2; column-count: 2">
            <table class="table" style="font-size: large">
                <thead>
                <tr>
                        <th style="width: 20%; text-align: right">Placering</th>
                    <th style="width: 70%">Lag</th>
                        <th style="width: 10%; text-align: right">Poäng</th>
                </tr>
                </thead>
            </table>
        </div>

        <div style="-webkit-column-count: 2; column-count: 2">
            <table class="table" style="font-size: large">
                <tbody>
                @foreach (var teamResult in result.TeamResults)
                {
                    <tr>
                        <td style="width: 20%; text-align: right">@teamResult.Pos</td>
                        <td style="width: 70%">@teamResult.Team</td>
                        <td style="width: 10%; text-align: right">@teamResult.Points</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <hr/>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Senast kollad<br/>Senasta ändrad</th>
                    <th>Ej aktiverade</th>
                    <th>Checkade/Startade</th>
                    <th>Preliminära</th>
                    <th>Godkända</th>
                    <th>Ej godkända</th>
                    <th>Ej start</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @result.Statistics.LastUpdatedTimeOfDay<br/>@result.Statistics.LastChangedTimeOfDay
                    </td>
                    <td>@result.Statistics.NumNotActivated</td>
                    <td>@(result.Statistics.NumActivated + result.Statistics.NumStarted)</td>
                    <td>@result.Statistics.NumPreliminary</td>
                    <td>@result.Statistics.NumPassed</td>
                    <td>@result.Statistics.NumNotValid</td>
                    <td>@result.Statistics.NumNotStarted</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* ReSharper restore MarkupTextTypo *@
}

@code {
    private Result? result;

    protected override async Task OnInitializedAsync()
    {
        result = await ResultServiceX.GetTeamResultsAsync();

    //ResultServiceX.NewResults += ResultService_OnNewResults;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private void ResultService_OnNewResults(object? sender, EventArgs e)
    {
        InvokeAsync(this.StateHasChanged);
    }

}